<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Template</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='assets/Azul.png') }}" alt="Logo" width="100">
        <h1>Reporte de Análisis</h1>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <p>Generado por Adheplast</p>
    </footer>
</body>
</html>
